<div style="background: #8b8b8b; width: 100%; padding: 10px 0;">
    <div style="width: 80%; margin: auto; background: white; padding: 5px; border: 1px solid black; border-radius: 10px;">
        <h1 style="border-bottom: 1px solid black;"><%= subject %></h1>
        <p>This email was sent to <b><%= to %></b></p>
        <div style="width: 100%; border-bottom: 1px solid black;"></div>
        <p><%= msg %></p>
    </div>
</div>